body {
  background-color: rgb(141, 141, 238);
  font-size: 22px;
  padding: 30px;
} 
h1 {
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-align:center;
  color: lightpink;
}
h2 {
  font-size: 32px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: lightpink;
}
h3 {
  font-size: 24px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: lightgoldenrodyellow;
}
img {
  margin: auto;
  height: auto;
  padding: 30px;
  float: left;
}
.my-class {
  margin: 12px;
  border: 2px solid lightgoldenrodyellow;
  padding: 30px;
  float: right;
  background: lightpink;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
p.intro {
  font-style:italic;
  font-weight: 100;
  font-size: 22px;
}
.sidebar {
  width: 30%;
  border: solid lightpink;
  float: right;
  background-color: lightgoldenrodyellow;
  padding: 30px;
}
.highlight {
  color:blueviolet;
  font-weight: bold;
}
.important {
  font-weight: bold;
}
